.nav-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 6px;

  }
 
  
  .active-nav-link {
    text-decoration: none;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px;
  
    transition: .3s ease-in all;
  }
  
  .active-nav-link .MuiTypography-root {
    color: red !important;
  }
  
  .anchortag {
    font-weight: 600;
    font-size: 1.2rem;
    color: #6985bd;
    transition: .3s ease-in all;
  }
  
  .anchorActive {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    transition: .3s ease-in all;
  }
  

  .logo-admin {
    animation: fadeIn 1s ease-in-out 1s forwards;
    opacity: 0; /* Ensure the initial state is hidden */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

 .logo-admin-width{
  width: 120px;
 }
  

  .nav-link:hover{
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 12px;
  
    transition: .3s ease-in all;
    text-decoration: none;
    color: rgb(255, 0, 0) !important;
    display: flex;
    align-items: center;
  }

  .navlink-image1{
    width: 27px;
  }

  .navlink-image{
    width: 20px;
  }


  .navlink-image2{
    width: 37px;
  }
  .navlink-image3{
    width: 40px;
  }

  @media only screen and (max-width: 1600px) {
    .navlink-image1{
      width: 19px;
    }
  
  
    .navlink-image2{
      width: 28px;
    }
    .navlink-image3{
      width: 28px;
    }
   
  }

  @media only screen and (max-width: 1400px) {

    .logo-admin-width{
      width: 80px;
     }
  }