.nav-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .active-nav-link {
    text-decoration: none;
    color: red;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
  
    transition: .3s ease-in all;
  }
  
  .active-nav-link .MuiTypography-root {
    color: red !important;
  }
  
  .anchortag {
    font-weight: 600;
    font-size: 1.2rem;
    color: #6985bd;
    transition: .3s ease-in all;
  }
  
  .anchorActive {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(119, 119, 119);
    transition: .3s ease-in all;
  }
  

  .logo-admin {
    animation: fadeIn 1s ease-in-out 1s forwards;
    opacity: 0; /* Ensure the initial state is hidden */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  