/* TabooManagement.css */

.datatable-responsive-demo .MuiTable-root {
    border: none;
}

.MuiTable-root {
    border-collapse: separate !important;
    border-spacing: 0px 15px !important;
    border: none !important;
}

.MuiTableContainer-root {
    background-color: transparent !important;
    color: white;
}

.MuiTableCell-root {
    color: #FDFDFD;
    text-align: start;
    font-weight: 600;
    background-color: transparent !important;
    font-size: 21px;
}

.MuiTableBody-root {
    background-color: transparent !important;
}

.MuiTableBody-root .MuiTableCell-root {
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 21px;
    background-color: transparent !important;
}

.MuiTableRow-root {
    background: #2E210A;
    border-radius: 12px !important;
    border: 2px solid #FFA100 !important;
    margin-bottom: 10px !important;
    color: white !important;
    font-size: 21px;
}

.MuiTableRow-root:hover {
    background: #5A3D0A;
}

.search-input {
    color: #ffffff;
    font-size: 18px;
    padding: 9px 47px 9px 27px;
    border-radius: 12px;
    border: 1px solid #FFA100;
    outline: none;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.search-input::placeholder {
    color: rgb(155, 135, 135);
}

.MuiTableHead-root {
    color: #ffffff;
    font-weight: 500 !important;
    text-align: center;
    font-size: 21px !important;
    
    border-bottom: none !important;
}

table tr td:first-child {
    border-top: 1px solid #FFA100 !important;
    border-bottom: 1px solid #FFA100 !important;
}

table tr td:last-child{
    border-top: 1px solid #FFA100 !important;
    border-bottom: 1px solid #FFA100 !important;
}
table tr td:nth-child(2),table tr td:nth-child(3) ,table tr td:nth-child(4){
    border-top: 1px solid #FFA100 !important;
    border-bottom: 1px solid #FFA100 !important;
}
table tr td:first-child {
    border-left: 1px solid #FFA100 !important;
}

table tr td:last-child {
    border-right: 1px solid #FFA100 !important;
}

table > tbody > tr {
    height: 75px !important;
}

/* Media Queries for Responsiveness */

@media (max-width: 1500px) {
   

    table > tbody > tr {
        height: 15px !important;
    }
    .MuiTableBody-root .MuiTableCell-root {
        font-size: 16px;
    }

 
}

@media (max-width: 992px) {
    .MuiTableCell-root {
        font-size: 16px;
        padding-left: 20px !important;
    }

    .MuiTableBody-root .MuiTableCell-root {
        font-size: 16px;
        padding-left: 20px !important;
    }


}

@media (max-width: 768px) {
    .MuiTableCell-root {
        font-size: 14px;
        padding-left: 15px !important;
    }

    .MuiTableBody-root .MuiTableCell-root {
        font-size: 14px;
        padding-left: 15px !important;
    }

    .MuiTableHead-root {
        font-size: 14px !important;
    }
}

@media (max-width: 776px) {
    .MuiTableCell-root {
        font-size: 12px !important;
        padding-left: 10px !important;
    }

    .MuiTableBody-root .MuiTableCell-root {
        font-size: 12px !important;
        padding-left: 10px !important;
    }



    .MuiTableHead-root {
        font-size: 12px !important;
    }

    .MuiTableRow-root {
        font-size: 12px !important;
    }

    .MuiTableRow-root:hover {
        background: #5A3D0A;
    }
}
