*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

*{
  font-family: "Poppins", sans-serif !important;
}


body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #2e210a; 
}

body::-webkit-scrollbar-thumb {
  background: #A52A2A; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #8B4513; 
}

/* For Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #A52A2A #2e210a;
}
body {
  background-image: url(./assets/backgroundImg1.png);
  background-color: black;
}