/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-image: url('./assets/backgroundImg1.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Optional for the track color */
}

::-webkit-scrollbar-thumb {
  background-color: #ffa100; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7b00; /* Color of the scrollbar thumb when hovered */
}

/* Hide scrollbar when not in use */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffa100 rgba(255, 255, 255, 0.1); /* Firefox */
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

body {
  overflow-y: scroll; /* Always show vertical scrollbar */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: block;
  background: transparent; /* Making scrollbar transparent when not hovered */
}

body::-webkit-scrollbar-thumb {
  display: block;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


 .edit-icon:hover{

  background-color: rgba(255, 255, 255, 0.212);
  
} 

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(180deg) brightness(90%) contrast(90%);
  color: yellow;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"] {
  background-image: url('./assets/dateicon.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  padding-right: 30px; /* Adjust padding to make space for the icon */
