* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

* {
  font-family: "Poppins", sans-serif !important;
}

body::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just in case */
}

/* For Firefox */
body {
  scrollbar-width: none;  /* Remove scrollbar space */
  -ms-overflow-style: none;  /* IE 10+ */
}

body {
  background-image: url('./assets/backgroundImg1.png');
  background-color: black;
}


/* Hide scrollbars but keep scrolling enabled */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}
